{% extends 'base.html' %}
{% block title %}GoFish{% endblock %}
{% block background %}allbg{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-5 left">


            <h2 class="accent soon">Coming Soon</h2>
            <h1 class="header">Get notified when <span class="nowrap">Go Fish</span> goes live</h1>
            <br>
            <p> <i>Go Fish</i> removes the guesswork from your fishing game by giving you access to professional fishing reports and connecting you with the best guides in your area.

            </p>

            <form action="https://www.surveymonkey.com/r/PTNSPYP">
                <div class="form-group">

                        <button type="submit" class="btn btn-secondary btn-lg">I'm interested</button>
                </div>

            </form>

        </div>

<div class="col-lg-1">

</div>

        <div class="col-lg-6">
            <div class="row">
                <div class="col-sm-6">
                    <p class="subtitle">
                        <i class="fal fa-camera-alt fa-2x"></i>
                    </p>
                    <h2 class="accent center">Reports from Pros</h2>
                    <p class="copy">
                        Be in the know on recent fishing activity. Search by location, target fish, bait, you name it. Go fish with certainty.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="subtitle">
                         <i class="fal fa-calendar fa-2x"></i>
                    </p>
                    <h2 class="accent center">Book a Trip</h2>
                    <p class="copy">
                        Find a professional guide and book your trip within minutes. Choose a location, target fish, or duration, then… go fish!
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="subtitle">
                        <i class="fal fa-address-book fa-2x"></i>
                    </p>
                    <h2 class="accent center">Experienced Guides</h2>
                    <p class="copy">
                        You won’t be wasting your time with the guides you find here. They’re dedicated to getting fish on the end of your line.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p class="subtitle">
                        <i class="fal fa-map-marker-alt fa-2x"></i>
                    </p>
                    <h2 class="accent center">Fish Anywhere</h2>
                    <p class="copy">Whether you’re looking to go fish local or venture into uncharted waters, you’ll find guides that know the honey holes.
                    </p>
                </div>
            </div>
        </div>

    </div>


</div>

{% endblock %}